# Database (Vercel Postgres)
PRISMA_DATABASE_URL="postgresql://username:password@host:5432/database?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_URL="postgresql://username:password@host:5432/database?sslmode=require"

# Vercel Blob
BLOB_READ_WRITE_TOKEN="vercel_blob_token"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
